








/* ### below here is old #### */


.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(33, 40, 50, 0.125);
    border-radius: 0.35rem;
      margin-bottom: 1.5em;
  }
  .card > hr {
    margin-right: 0;
    margin-left: 0;
  }
  .card > .list-group {
    border-top: inherit;
    border-bottom: inherit;
  }
  .card > .list-group:first-child {
    border-top-width: 0;
    border-top-left-radius: 0.35rem;
    border-top-right-radius: 0.35rem;
  }
  .card > .list-group:last-child {
    border-bottom-width: 0;
    border-bottom-right-radius: 0.35rem;
    border-bottom-left-radius: 0.35rem;
  }
  .card > .card-header + .list-group,
  .card > .list-group + .card-footer {
    border-top: 0;
  }
  
  .card-body {
    flex: 1 1 auto;
    padding: 1.35rem 1.35rem;
  }
  
  .card-title {
    margin-bottom: 0.5rem;
  }
  
  .card-subtitle {
    margin-top: -0.25rem;
    margin-bottom: 0;
  }
  
  .card-text:last-child {
    margin-bottom: 0;
  }
  
  .card-link:hover {
    text-decoration: none;
  }
  .card-link + .card-link {
    margin-left: 1.35rem;
  }
  
  .card-header {
    padding: 1rem 1.35rem;
    margin-bottom: 0;
    background-color: rgba(33, 40, 50, 0.03);
    border-bottom: 1px solid rgba(33, 40, 50, 0.125);
  }
  .card-header:first-child {
    border-radius: 0.35rem 0.35rem 0 0;
  }
  
  .card-footer {
    padding: 1rem 1.35rem;
    background-color: rgba(33, 40, 50, 0.03);
    border-top: 1px solid rgba(33, 40, 50, 0.125);
  }
  .card-footer:last-child {
    border-radius: 0 0 0.35rem 0.35rem;
  }
  
  .card-header-tabs {
    margin-right: -0.675rem;
    margin-bottom: -1rem;
    margin-left: -0.675rem;
    border-bottom: 0;
  }
  .card-header-tabs .nav-link.active {
    background-color: #fff;
    border-bottom-color: #fff;
  }
  
  .card-header-pills {
    margin-right: -0.675rem;
    margin-left: -0.675rem;
  }
  
  .card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    border-radius: 0.35rem;
  }
  
  .card-img,
  .card-img-top,
  .card-img-bottom {
    width: 100%;
  }
  
  .card-img,
  .card-img-top {
    border-top-left-radius: 0.35rem;
    border-top-right-radius: 0.35rem;
  }
  
  .card-img,
  .card-img-bottom {
    border-bottom-right-radius: 0.35rem;
    border-bottom-left-radius: 0.35rem;
  }
  
  .card-group > .card {
    margin-bottom: 0.75rem;
  }
  @media (min-width: 576px) {
    .card-group {
      display: flex;
      flex-flow: row wrap;
    }
    .card-group > .card {
      flex: 1 0 0%;
      margin-bottom: 0;
    }
    .card-group > .card + .card {
      margin-left: 0;
      border-left: 0;
    }
    .card-group > .card:not(:last-child) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    .card-group > .card:not(:last-child) .card-img-top,
  .card-group > .card:not(:last-child) .card-header {
      border-top-right-radius: 0;
    }
    .card-group > .card:not(:last-child) .card-img-bottom,
  .card-group > .card:not(:last-child) .card-footer {
      border-bottom-right-radius: 0;
    }
    .card-group > .card:not(:first-child) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    .card-group > .card:not(:first-child) .card-img-top,
  .card-group > .card:not(:first-child) .card-header {
      border-top-left-radius: 0;
    }
    .card-group > .card:not(:first-child) .card-img-bottom,
  .card-group > .card:not(:first-child) .card-footer {
      border-bottom-left-radius: 0;
    }
  }




  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(33, 40, 50, 0.125);
    border-radius: 0.35rem;
  }
  .card > hr {
    margin-right: 0;
    margin-left: 0;
  }
  .card > .list-group {
    border-top: inherit;
    border-bottom: inherit;
  }
  .card > .list-group:first-child {
    border-top-width: 0;
    border-top-left-radius: 0.35rem;
    border-top-right-radius: 0.35rem;
  }
  .card > .list-group:last-child {
    border-bottom-width: 0;
    border-bottom-right-radius: 0.35rem;
    border-bottom-left-radius: 0.35rem;
  }
  .card > .card-header + .list-group,
  .card > .list-group + .card-footer {
    border-top: 0;
  }
  
  .card-body {
    flex: 1 1 auto;
    padding: 1.35rem 1.35rem;
   color: rgba(0, 0, 0 0.8);
  }
    .card {
      color: rgba(0, 0, 0 0.8);
      margin-bottom: 2rem;
    }
  .card-title {
    margin-bottom: 0.5rem;
  }
  
  .card-subtitle {
    margin-top: -0.25rem;
    margin-bottom: 0;
  }
  
  .card-text:last-child {
    margin-bottom: 0;
  }
  
  .card-link:hover {
    text-decoration: none;
  }
  .card-link + .card-link {
    margin-left: 1.35rem;
  }
  
  .card-header {
    padding: 1rem 1.35rem;
    margin-bottom: 0;
    background-color: rgba(33, 40, 50, 0.03);
    border-bottom: 1px solid rgba(33, 40, 50, 0.125);
  }
  .card-header:first-child {
    border-radius: 0.35rem 0.35rem 0 0;
  }
  
  .card-footer {
    padding: 1rem 1.35rem;
    background-color: rgba(33, 40, 50, 0.03);
    border-top: 1px solid rgba(33, 40, 50, 0.125);
  }
  .card-footer:last-child {
    border-radius: 0 0 0.35rem 0.35rem;
  }
  
  .card-header-tabs {
    margin-right: -0.675rem;
    margin-bottom: -1rem;
    margin-left: -0.675rem;
    border-bottom: 0;
  }
  .card-header-tabs .nav-link.active {
    background-color: #fff;
    border-bottom-color: #fff;
  }
  
  .card-header-pills {
    margin-right: -0.675rem;
    margin-left: -0.675rem;
  }
  
  .card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    border-radius: 0.35rem;
  }
  
  .card-img,
  .card-img-top,
  .card-img-bottom {
    width: 100%;
  }
  
  .card-img,
  .card-img-top {
    border-top-left-radius: 0.35rem;
    border-top-right-radius: 0.35rem;
  }
  
  .card-img,
  .card-img-bottom {
    border-bottom-right-radius: 0.35rem;
    border-bottom-left-radius: 0.35rem;
  }
  
  .card-group > .card {
    margin-bottom: 0.75rem;
  }
  @media (min-width: 576px) {
    .card-group {
      display: flex;
      flex-flow: row wrap;
    }
    .card-group > .card {
      flex: 1 0 0%;
      margin-bottom: 0;
    }
    .card-group > .card + .card {
      margin-left: 0;
      border-left: 0;
    }
    .card-group > .card:not(:last-child) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    .card-group > .card:not(:last-child) .card-img-top,
  .card-group > .card:not(:last-child) .card-header {
      border-top-right-radius: 0;
    }
    .card-group > .card:not(:last-child) .card-img-bottom,
  .card-group > .card:not(:last-child) .card-footer {
      border-bottom-right-radius: 0;
    }
    .card-group > .card:not(:first-child) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    .card-group > .card:not(:first-child) .card-img-top,
  .card-group > .card:not(:first-child) .card-header {
      border-top-left-radius: 0;
    }
    .card-group > .card:not(:first-child) .card-img-bottom,
  .card-group > .card:not(:first-child) .card-footer {
      border-bottom-left-radius: 0;
    }
  }





  
  
  .card {
    box-shadow: 0 0.15rem 1.75rem 0 rgba(33, 40, 50, 0.15);
  }
  .card .card-header {
    font-weight: 500;
  }
  .card:not([class*=bg-]) .card-header {
    color: #0061f2;
  }
  
  .card.bg-dark .card-header,
  .card.bg-dark .card-footer {
    border-color: rgba(255, 255, 255, 0.15);
  }
  
  .card .card-header .card-header-tabs .nav-link.active {
    background-color: #fff;
    border-bottom-color: #fff;
  }
  
  .card-header-actions .card-header {
    height: 3.5625rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5625rem;
    padding-bottom: 0.5625rem;
  }
  .card-header-actions .card-header .dropdown-menu {
    margin-top: 0;
    top: 0.5625rem !important;
  }
  
  .card-collapsable .card-header[data-bs-toggle=collapse],
  .card-collapsable .card-header[data-toggle=collapse] {
    display: flex;
    text-decoration: none;
    position: relative;
    align-items: center;
    justify-content: space-between;
  }
  .card-collapsable .card-header[data-bs-toggle=collapse] .card-collapsable-arrow,
  .card-collapsable .card-header[data-toggle=collapse] .card-collapsable-arrow {
    height: 0.9rem;
    width: 0.9rem;
    display: inline-flex;
    font-size: 0.9rem;
    transition: transform 0.1s ease-in-out;
  }
  .card-collapsable .card-header[data-bs-toggle=collapse] .card-collapsable-arrow svg,
  .card-collapsable .card-header[data-bs-toggle=collapse] .card-collapsable-arrow i,
  .card-collapsable .card-header[data-bs-toggle=collapse] .card-collapsable-arrow .feather,
  .card-collapsable .card-header[data-toggle=collapse] .card-collapsable-arrow svg,
  .card-collapsable .card-header[data-toggle=collapse] .card-collapsable-arrow i,
  .card-collapsable .card-header[data-toggle=collapse] .card-collapsable-arrow .feather {
    height: 0.9rem;
    width: 0.9rem;
  }
  .card-collapsable .card-header[data-bs-toggle=collapse].collapsed,
  .card-collapsable .card-header[data-toggle=collapse].collapsed {
    border-radius: 0.35rem;
  }
  .card-collapsable .card-header[data-bs-toggle=collapse].collapsed .card-collapsable-arrow,
  .card-collapsable .card-header[data-toggle=collapse].collapsed .card-collapsable-arrow {
    transform: rotate(-90deg);
  }
  
  .card-icon {
    overflow: hidden;
  }
  .card-icon .card-icon-aside {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    padding: 2rem;
  }
  .card-icon .card-icon-aside i,
  .card-icon .card-icon-aside svg,
  .card-icon .card-icon-aside .feather {
    height: 3rem;
    width: 3rem;
  }
  
  .card-link {
    text-decoration: none !important;
    color: inherit !important;
  }
  .card-link:hover {
    color: inherit !important;
  }
  
  .card-progress .progress {
    height: 0.5rem;
    background-color: rgba(33, 40, 50, 0.03);
  }
  
  .card-scrollable .card-body {
    max-height: 15rem;
    overflow-y: auto;
  }
  
  .card-waves .card-body,
  .card-angles .card-body {
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center bottom;
  }
  