.button-containerb .button-flipper {
    transition: 0.8s cubic-bezier(0.775, 0.07, 0.575, 0.995);
    transform-style: preserve-3d;
    position: absolute;
    padding-right: 3px;
    align-items: left;
  }
  
  .button-container .button-flipper:hover {
    transform: rotateX(180deg);
  }
 .front-button {
    cursor: pointer;
    width: 125px;
    height: 35px;
    background-color: #1891d0;
    border: none;
      font-weight: 600;
    border-radius: 4px;
    color: #ead70e;
    /* -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    z-index: 2;
    transform: rotateX(0deg); */
    position: absolute;
    box-shadow: 0px 8px 12px #ccc;
  }
  
  
  .button-container .front-button a {
    color:#ead70e;
    text-decoration: none;  
  }
  
  .button-container .back-button {
    cursor: pointer;
    width: 125px;
    height: 35px;
    background-color: #ead70e;
    border: none;
    font-weight: 600;
    border-radius: 4px;
    color: #1891d0;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    transform: rotateX(-180deg);
    position: relative;
    box-shadow: 0px 8px 12px #ccc;
  }
  
  .button-container .back-button a {
    color:#1891d0;
     padding-bottom: 4}
  
  .button-container2 .button-flipper2 {
    transition: 0.8s cubic-bezier(0.775, 0.07, 0.575, 0.995);
    transform-style: preserve-3d;
    position: absolute;
    padding-left: 6px;
              margin-bottom: 25px;
      margin-left: 24px;
      margin-top: 12px;
  }
  .button-container2 .button-flipper2:hover {
    transform: rotateX(180deg);
  
  }
  .button-container2 .front-button2 {
    cursor: pointer;
    width: 125px;
    height: 35px;
    background-color: #1891d0;
    border: none;
      font-weight: 600;
    border-radius: 4px;
    color: #ead70e;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    z-index: 2;
    transform: rotateX(0deg);
    position: absolute;
    box-shadow: 0px 8px 12px #ccc;
  }
  
  .button-container2 .front-button2 a {
    color:#ead70e;
    text-decoration: none;
  
  }
  .front-button:hover {
    cursor: pointer;
    width: 125px;
    height: 35px;
    background-color: #ead70e;
    border: none;
    font-weight: 600;
    border-radius: 4px;
    color: #1891d0;

    transform: rotateX(-180deg);
    position: relative;
    box-shadow: 0px 8px 12px #ccc;
  }
  
  .button-container2 .back-button2 a {
    color:#1891d0;
  }