/* Custom CSS! */

/* .main {
  width: 100%;
} */

/* .accordion .card-header:after {
  font-family: 'FontAwesome';  
  content: "\f068";
  float: right;
}
.accordion .card-header.collapsed:after {
  font-family: 'FontAwesome';  
  content: "\f067"; 
  float: right;
} */

.demo {
  margin: 20px;
}
.accordion .fa {
  margin-right: 0.5rem;
  text-align: right;
}
.accordion button, .accordion button:hover, .accordion button:focus{
  text-decoration: none;
}

/* WA-RUC Primary palatte  */

.beige-wr {
  color: #FEF8E8;
}

.bg-beige-wr {
  background-color: #FEF8E8;
  opacity: 1.5;
}
.bg-gray-wr {
  background-color: #f8f8f8;
}
.darkblue-wr {
  color:rgb(6, 35, 62);
  color: #06233E;
}
.darkorange-wr {
  color: #D34F1D;
}
.teal-wr {
  color: #0F6873;
}
.darkorange-wr {
  color: rgb(211, 79, 29);
}
.gold-wr {
  color: #E0B331;
}

.bg-cream-wr {
  background-color: #F3F3CF;
}
.cream-wr {
  color: #F3F3CF;
}
.yellow-wr {
  color: #FEE361;
}
.peagreen-wr  {
  color: #82A73F;
}

.bg-peagreen-wr  {
  background-color: rgb(130, 167, 63);
}
.limegreen-wr {
  color: rgb(187, 191, 65);
}

.carousel .carousel-indicators li {
  color:rgb(6, 35, 62);
  fill:rgb(6, 35, 62);
}
p {
  color: rgb(6, 35, 62);
  font-size: 18px;
  font-weight: 400;
}


#intro {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.pilot-head {
  font-weight: 800;
  font-size: 20px;
}
.img-area {
  margin-left: 1em;
  padding-left: 2em;
  text-align:center;
  justify-content: center;
  align-items: center;
}

.img-onright {
  align-items: right;
   margin-right: -12vw;
padding-right: none;
justify-content: right;
text-align: right;
position: relative;
}

.img-onleft {
  align-items: left;
  margin-left: -12vw;
  padding-left: none;
  justify-content: left;
  text-align: left;
  position: relative;
}

.rightwrap {
  display: flex;
  flex-direction: column;
}

.left-para {
  margin-left: 30px;
  margin-right: 25px; 
  text-align: left;
}
.leftcol-text2 {
  margin-left: 14%;
  margin-right: 1.2em;
  margin-top: 20%;
}
.leftcol-text2 {
  margin-left: 14%;
  margin-right: 1.2em;
  margin-top: 50px;
}

/* #pilot-faq {
  font-size: 40px;
} */
.rightcol-text {
  margin-right: 14%;
  margin-left: 3em;
  margin-top: 20%;
}

.white-p {
  margin-top: 2em;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
}

.right-para {
  margin-right: 30px;
  margin-left: 25px;
  text-align: left;
}
.page-header-wa-ruc {
  font-size: 1.4em;
  font-weight: 500;
  margin-top: 1.2em;
}

.page-subheader-teal {
  font-size: 1.4em;
  font-weight: 500;
  margin-top: 1.2em;
  color:#0D6873;
  text-transform: capitalize;
}

.page-subheader-teal2 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 1.2em;
  color:#0D6873;
}

#faq .page-subheader-teal2 {
  font-size: 24px;
  font-weight: 700;
  margin-top: 1.2em;
  margin-bottom: .75em;
  color:#0D6873;
}

.page-subhead-wa-ruc {
   font-size: 2em;
   font-weight: 700;
   margin-top: .2em
}
.page-subhead-wa-ruc-2 {
  font-size: 2em;
   font-weight: 700;
   margin-top: 3em;
   color: #FAFAFA;
   font-size: 35px;
   margin-left: 1em;
}

.leftimg-vanish {
  display: none;
}

.big-h2 {
  font-size: 1.5em;
}

.orange-banner-top {
  box-sizing: border-box;
 width: 17em;
 margin-left: -20px;
 padding-top: 16px;
 padding-bottom: 5px;
 padding-left: 10px;
 padding-right: 25px;
 background-color: rgb(236, 148, 16);  
 color: #000;
 font-size: 28px;
 font-weight: 700;
 border: solid  rgb(236, 148, 16) 5px;
 border-radius: 10px;
 text-align: right;
}
.teal-on-white-box {
   box-sizing: border-box;
  width: 18.5em;
  margin-left: -20px;
  padding-top: 15px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 25px;
  background-color: #fff;  
  color: rgb(15, 104, 115);
  border: solid rgb(15, 104, 115) 5px;
  border-radius: 10px;
  margin-top: -130px;
  text-align: right;
}

.teal-on-white-box-2 {
  box-sizing: border-box;
 width: 29.5em;
 margin-left: -20px;
 padding-top: 16px;
 padding-bottom: 5px;
 padding-left: 10px;
 padding-right: 25px;
 background-color: #fff;  
 color: rgb(15, 104, 115);
 border: solid rgb(15, 104, 115) 5px;
 border-radius: 10px;
 margin-top: -130px;
 text-align: right;
}
/* #or-square ul {
    list-style: none; 
  }
  
  #or-square ul li::before {
    content: "\25AA";  
    color: #D34F1D;
    font-weight: bold;
    display: inline-block; 
  } */

  .or-square {
    font-size: 18px;
    color: #000;
   }
   .or-square a {
    font-size: 18px;
    color: #000;
    text-decoration: underline;
   }

.or-square li::marker {
color: #E0B331;
  /* content:"□  " ; */
  list-style-type: square;
  height: 20px;
  width: 20px;
  /* fill:rgb(211, 79, 29); */
  margin-left: -1em;
  margin-top: 5px;
}
  #or-square {
    font-size: 18px;
   }
#or-square li::marker {
color: #E0B331;
  /* content:"□  " ; */
  list-style-type: square;
  height: 20px;
  width: 20px;
  /* fill:rgb(211, 79, 29); */
  margin-left: -1em;
  margin-top: 5px;
}
.teal-on-white-box h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-style: 'Arial Narrow bold';
  color: rgb(15, 104, 115);
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-style: 'Arial Narrow bold';
}
.big-teal {
  font-size: 1.5em;
  color: (15, 104, 115);
  font-weight: 700;
}

.strong-teal {
  color: rgb(15, 104, 115);
  font-weight: 700;
}

.strong-teal-big {
  color: rgb(15, 104, 115);
  font-weight: 600;
  font-size: 25px;
}

.strong-blue-tm {
  color:rgb(15, 104, 115);
  font-weight: 700;
  font-size: 1.2em;
  margin-right: 15px;
/* margin-top: 25px; */

}

#whatsnextAccordion {
margin-left: 10%;
margin-right: 10%;
margin-top: 10px;
margin-bottom: 70px;
}

#whatsnextAccordion a {
  color:rgb(15, 104, 115);
  font-weight: 600;
  text-decoration: underline;
}

.bigger-darker {
  font-size: 1.4em;
  font-weight: 700;
  line-height: 1.2;
}

.ruc-area {
  margin-top: 6%;
}

.large-title-cap {
 
  font-size: 2.2em;
  font-weight: 700;
  text-transform: capitalize;
}

.circle-header {
  margin-top: 1em; 
  font-size: 1.4em; 
  font-weight: 600;
}

.circle-para {
  font-size: 1.2em;
  /* margin-bottom: 12px; */
}

.teal-link {
  color:#0D6873;
  font-size: 1.2em;
  text-decoration: underline;
  font-weight: 700;
  margin-bottom: 2em;
  padding-bottom: 2em;
}
/* #### old ### */
.page-template-page-blocks-home li#menu-item-63 a, .page-id-36207 li#menu-item-63 a {
    background-color: #cf562e;
    color: #fff;
  }
  section.custom-half-block-color .columns {
    padding: 3em 0;
  }
  section.custom-half-block-color .columns .row {
    margin: 0;
  }
  section.custom-half-block-color .columns:nth-child(1) {
    background-color: #f3f3cf;
      color: #06233e;
  }
  
  .share__section {
      border-top: 1px solid white;
      padding: 10px 0;
      margin: 1em 0;
  }
  
  .panel-default {
      border-color: transparent;
      border: 0;
  }
  .panel-default>.panel-heading {
      color: #06233d;
      background-color: transparent;
      border-color: transparent;
      border-radius: 0;
  }
  a {
      color: #06233E;
  }
  
  .responsive-vid {
    position: relative;
    display: block;
    width: 100%; 
    overflow: hidden;
    /* margin-left: 12%; */
    margin-bottom: 2em;
    padding-bottom: 1.5em;
  }
  .block-container.block-calltoaction.block-bg-image .block-inner {
    background-color: rgba(0, 0, 0, 0.2);
  }
  div.heard-drivers{
        padding: 20px;
      border: 4px solid #006871;
  }
  div.heard-drivers h4{
       color: #DD4B24;
  }
  div.heard-drivers div.row{
       margin-bottom: 10px;
  }
  div.heard-drivers p, div.heard-drivers ul{
       font-size: 24px;
  }
  /*button*/
  .btn {
  border-radius: 0px;	
  }
  .btn-success {
    background-color: #82A73F;
      border:none;
  }
  .btn-success:hover {
    background-color: #0D6873;
  }
  .btn-success.active, .btn-success:active, .open>.dropdown-toggle.btn-success {
      background-color: #0D6873;
  }
  .btn-dark, .btn-primary {
      background-color: #0D6873;
      border:none;
  }
  .btn-dark:hover, .btn-primary:hover {
    background-color: #06233E;
  }
  .btn-success.active, .btn-success:active, .open>.dropdown-toggle.btn-success {
      background-color: #06233E;
  }
      
  .disc {
      list-style-type: disc !important;
      list-style-image: none;
  }
  
  .page-id-11 .block-content.block-index-20 {
      margin-top: 170px;
  }
  
  div#post-35942 h4 {
    margin-top: 20px;
  }
  
  .hero-subtitle {
      padding: 0 17px 0 20px;
  }
  
  .h1, h1 {
      margin-top: 0px;
  }
  
  .h6, h6 {
      line-height: 1.25;
  }
  
  .menocu {
      display: none;
  }
  
  .block-calltoaction.block-index-15 {
      height: 500px;
  }
  
  .block-index-19 .container .row .columns.small-12 h1 {
      margin-top: 20px;
      min-width: 150px;
      max-height: 64px;
  }
  
  .background--green {
      background: #82a73f;
      padding: 20px;
      color: white;
      margin-bottom: auto;
  }
  
  .all-content__container {
      padding-left: 15px;
  }
  
  .all-content__container h1 {
      width: 48%;
      min-width: 500px;
  }
  
  .all-content__container ul {
      list-style: none;
  }
  .all-content__container ul > li:before {
      content: "\2014";
        position: absolute;
      margin-left: -20px;
  }
  
  .text__columns-container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
  }
  
  .text__columns-container div {
      max-width: 48%;
      min-width: 500px;
      padding-bottom: 20px
  }
  
  /* flip image  */
  .flipped {
      -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
  }
  
  /*profiles*/
  .page-id-4 .block-container.block-content.block-bg-none.block-index-4, .page-id-4 .block-container.block-notes-slider.block-bg-none.block-index-5 {
      display: none;
  }
  
  .gform_wrapper.gf_browser_chrome .gform_body {
    width: 100%;
  }
  
  /* Sharebuddy */
  .sd-social-icon .sd-content ul li[class*='share-'].share-twitter a.sd-button, .sd-social-icon .sd-content ul li[class*='share-'].share-facebook a.sd-button {
    background: #82a73f;
  }
  .sd-social-icon .sd-button span.share-count {
    display: none;
  }
  /* Sharebuddy */
  
  .orange-cta {
        padding: 5px 15px;
    background-color: #cf562e;
    display: inline-block;
        color: #fff;
  }
  .page-template-page-blocks-home h1#rc-sign-up, .page-template-page-blocks-home #rc-sign-up-2, .page-id-36207 h1#rc-sign-up {
    padding: 5px 25px;
    background-color: #cf562e;
    display: inline-block;
        color: #fff;
  }
  .sign-up-line {
    height: 100px;
    width: 6px;
    margin: auto;
    display: block;
    border-right:6px dashed #cf562e;
    position: relative;
      margin-top: 10px;
  }
  
  /* Demo 3 */
  table.responsive-table-custom-2.table img {
    margin-bottom: -20px;
    margin-top: -20px;
  }
   .table.responsive-table-custom-2>thead>tr>th {
    font-size: 21px;
      text-align: center;
  }
  .table.responsive-table-custom-2>tbody>tr>td {
    font-size: 15px;
  }
   .table.responsive-table-custom-2 .mileage-reporting-row-2 {
    min-height: 88px;
    float: left;
      border: 0;
  }
   .table.responsive-table-custom-2 .mileage-reporting-row-3 {
    min-height: 101px;
    float: left;
  }
   .table.responsive-table-custom-2 .mileage-reporting-row-4 {
    float: left;
  }
  table.responsive-table-custom-2.table {
    margin-bottom: 0;
  }
      @media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px)  {
  
          /* Force table to not be like tables anymore */
          .responsive-table-custom table, .responsive-table-custom thead, .responsive-table-custom tbody, .responsive-table-custom th, .responsive-table-custom td, .responsive-table-custom tr {
              display: block;
          }
  
          /* Hide table headers (but not display: none;, for accessibility) */
          .responsive-table-custom thead tr {
              position: absolute;
              top: -9999px;
              left: -9999px;
          }
  
          .responsive-table-custom tr { border: 1px solid #ccc; }
  
          .responsive-table-custom td {
              /* Behave  like a "row" */
              border: none;
              border-bottom: 1px solid #eee;
              position: relative;
              padding-left: 50%;
          }
  
          .responsive-table-custom td:before {
              /* Now like a table header */
              position: absolute;
              /* Top/left values mimic padding */
              top: 6px;
              left: 6px;
              width: 45%;
              padding-right: 10px;
              white-space: nowrap;
          }
  
          /*
          Label the data
          */
          .responsive-table-custom.table-custom-data-1 td:nth-of-type(1):before { content: "MILEAGE PERMIT"; }
          .responsive-table-custom.table-custom-data-1 td:nth-of-type(2):before { content: "ODOMETER READING"; }
          .responsive-table-custom.table-custom-data-1 td:nth-of-type(3):before { content: "PLUG AND PLAY"; }
          .responsive-table-custom.table-custom-data-1 td:nth-of-type(4):before { content: "SMARTPHONE APP"; }
      }
  /* Demo 3 */
  
  span.bs-tooltip {
    border-radius: 10px;
    background-color: #eee;
    height: 20px;
    width: 20px;
    display: inline-block;
    font-size: 13px;
    text-align: center;
    padding: 2px;
    margin-top: -4px;
    border: 1px solid #252525;
    color: #000;
  }
  div#pilot-video {
      padding-top: 65px;
    margin-top: -65px;
  }
  
  /* BC BG IMAGE */
  #bcbgimage {
      background-position: 50% 32%;
  }
  
  /* MIN WIDTH */
  @media (min-width: 768px) {
  }
  
  /* MAX WIDTH */
  @media (max-width: 992px) {
   .table.responsive-table-custom-2 .mileage-reporting-row-2,  .table.responsive-table-custom-2 .mileage-reporting-row-3 {
    min-height: 80px;
  }
  
  .table.responsive-table-custom-2 td.mileage-reporting-row-4 {
    min-height: 134px;
    float: left;
    width: 100%;
  }
  }
  
  @media (max-width: 768px) {
  section.custom-half-block-color .columns {
    padding: 2em 0;
  }
  }
  
  @media (max-width: 570px) {
      h1 {
          font-size: 3rem;
      }
      h2.block-bg-50762.hero-subtitle {
          font-size: 1.5rem;
      }
      h1.all-caps.text-white.pad-btm-20 {
          padding-bottom: 0;
      }
  .page-template-page-blocks-home .section .full-image {
    height: 430px;
    min-height: 430px;
    max-height: 430px;
  }
  .page-template-page-blocks-home #rc-sign-up-2 {
  font-size: 2rem;
  }
  table.responsive-table-custom-2.table img {
    margin-bottom: -50px;
    margin-top: -50px;
  }
   .table.responsive-table-custom-2 .mileage-reporting-row-2,  .table.responsive-table-custom-2 .mileage-reporting-row-3, .table.responsive-table-custom-2 td.mileage-reporting-row-4 {
    min-height: auto;
  }
  }
  .btn__row {
  display: flex;
  justify-content: space-around;
      padding-bottom: 1em;
  }
  
  a.btn.btn--red {
      background-color: #cf562e;
      color: white;
      font-weight: bold;
      max-width: 100px;
  }
  
  a.btn.btn--green {
      background-color: #82A73F;
      color: white;
      font-weight: bold;
      width: 100px;
  }
  
  .images__login-row {
      display: flex;
      padding-bottom: 1em;
  }
  
  .images__login-row div:first-of-type {
      margin: auto 0;
  }
  .right-col {
      margin-top: -15px;
  }
  @media(min-width: 700px) {
      .right-col {
           margin-top: -10px;		
      }
      .leftimg-vanish {
        align-items: left; text-align: left; justify-content: left; display: flex;
      } 
      .page-header-wa-ruc {
        font-size: 2.3em;
        font-weight: 400;
        margin-top: 1.8em;
      }
      .page-subhead-wa-ruc {
         font-size: 3em;
         font-weight: 700;
      }
      .page-subhead-wa-ruc-2 {
        margin-top: 1em;
        font-size: 3em;
        font-weight: 700;
     }

      
  }
  
  a.green-link {
      color: #0d6873;
      text-decoration: underline;
  }
  #footer .nav .menu-item ul.dropdown-menu {
      bottom: 100%;
      top: initial;
  }
  
  #often table thead tr{
        background-color: #0d6873;
      color: white;
  }
  #often table thead tr th{
      text-align:center;	
  }
  #often table td, table.often th{
      border: 1px solid black;
      padding: 10px;
  }
  #target_nav{
      display:none;
  }
  .yellow-callout{
          background-color: #f3f3cf; 
          padding: 15px;
  }
  .yellow-callout h1, .yellow-callout h2 {
      text-align: left;
      margin-top: 0;
  }
  .yellow-callout img{
      margin-top: 6px
  }
  #post-38028 .entry-title{
      display: none;
  }
  #post-38028{
      padding-top: 7rem;
  }
  .sharedaddy.sd-sharing-enabled{
      display: none;
  }
  
  /*.block-bg-50762 {
      display: none;
  }
  */
  h1.all-caps.text-white.pad-btm-20::after{
      content: " & ASSESSMENT"
  }
  #google_translate_element{
    margin-top: 19px;
  }
  @media only screen and (max-width: 990px) {
    #google_translate_element{
      position: absolute;
      right: 124px;
      margin-top: 53px;
    }
    .navbar {
      position: relative;
      min-height: 108px;
    }
  }
  @media only screen and (max-width: 768px) {
    #google_translate_element{
     text-align: center;
      position: relative;
      right: 0;
      margin-top: 0;
    }
  }
  .section .full-image {
      height: calc(55vh - 58px);
  }
  @media only screen and (max-width: 440px) {
    .forward-grid h4 {
      margin-top: 0 !important;}
    }




    .panel-group .panel {
      border-radius: 0;
      box-shadow: none;
      border-color: #EEEEEE;
  }

  .panel-default > .panel-heading {
      padding: 0;
      border-radius: 0;
      color: #212121;
      background-color: #FAFAFA;
      border-color: #EEEEEE;
  }

  .panel-title {
      font-size: 14px;
  }

  .panel-title > a {
      display: block;
      padding: 15px;
      text-decoration: none;
  }

  .more-less {
      float: right;
      color: #212121;
  }

  .panel-default > .panel-heading + .panel-collapse > .panel-body {
      border-top-color: #EEEEEE;
  }

  .headacc-wa {
    font-weight: 700;
  }
  .cirle-num {
    display: block;
    border-radius: 50%;
    /* width: 26px;
    height: 26px; */
    padding: 1px 2px;
    background: #fff;
    border: 2px solid #E0B331;;
    color: #06233d;
    text-align: center;
    justify-content: center;

  }


 .headacc-wa2 {  
  margin-left: 10px; font-size: 24px; font-weight: 600; letter-spacing: .3px; color: rgb(130, 167,63);
}

<?xml version="1.0" encoding="UTF-8"?><svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 64 64"><title>plus</title><path fill="#FFFFF" fill-rule="evenodd" d="M36 0c1.111 0 2.056.425 2.833 1.272.778.849 1.166 1.88 1.166 3.091V24h19.636c1.125 0 2.095.335 2.907 1.006l.184.16c.849.778 1.272 1.723 1.272 2.834v8c0 1.112-.425 2.057-1.272 2.834-.849.778-1.88 1.166-3.091 1.166H39.999v19.636c0 1.125-.335 2.094-1.006 2.906l-.16.185c-.778.848-1.722 1.272-2.833 1.272h-8.001c-1.111 0-2.056-.424-2.834-1.272-.778-.849-1.166-1.88-1.166-3.09V39.998H4.363c-1.125 0-2.094-.335-2.906-1.006l-.185-.16C.424 38.054 0 37.11 0 36v-8.001c0-1.111.424-2.056 1.272-2.834C2.121 24.387 3.152 24 4.363 24H24V4.363c0-1.125.335-2.094 1.006-2.906l.16-.185C25.944.423 26.889 0 28 0z"/></svg>
.accordion-flush .accordion-item .accordion-button {


  border-radius            .accordion-button::after {
              background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M36 0c1.111 0 2.056.425 2.833 1.272.778.849 1.166 1.88 1.166 3.091V24h19.636c1.125 0 2.095.335 2.907 1.006l.184.16c.849.778 1.272 1.723 1.272 2.834v8c0 1.112-.425 2.057-1.272 2.834-.849.778-1.88 1.166-3.091 1.166H39.999v19.636c0 1.125-.335 2.094-1.006 2.906l-.16.185c-.778.848-1.722 1.272-2.833 1.272h-8.001c-1.111 0-2.056-.424-2.834-1.272-.778-.849-1.166-1.88-1.166-3.09V39.998H4.363c-1.125 0-2.094-.335-2.906-1.006l-.185-.16C.424 38.054 0 37.11 0 36v-8.001c0-1.111.424-2.056 1.272-2.834C2.121 24.387 3.152 24 4.363 24H24V4.363c0-1.125.335-2.094 1.006-2.906l.16-.185C25.944.423 26.889 0 28 0z' clip-rule='evenodd'/%3e%3c/svg%3e");
              transform: scale(.7) !important;
            }
            .accordion-button:not(.collapsed)::after {
              background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M36 0c1.111 0 2.056.425 2.833 1.272.778.849 1.166 1.88 1.166 3.091V24h19.636c1.125 0 2.095.335 2.907 1.006l.184.16c.849.778 1.272 1.723 1.272 2.834v8c0 1.112-.425 2.057-1.272 2.834-.849.778-1.88 1.166-3.091 1.166H39.999v19.636c0 1.125-.335 2.094-1.006 2.906l-.16.185c-.778.848-1.722 1.272-2.833 1.272h-8.001c-1.111 0-2.056-.424-2.834-1.272-.778-.849-1.166-1.88-1.166-3.09V39.998H4.363c-1.125 0-2.094-.335-2.906-1.006l-.185-.16C.424 38.054 0 37.11 0 36v-8.001c0-1.111.424-2.056 1.272-2.834C2.121 24.387 3.152 24 4.363 24H24V4.363c0-1.125.335-2.094 1.006-2.906l.16-.185C25.944.423 26.889 0 28 0z");
            }

            .accordion-button::after {
              background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M36 0c1.111 0 2.056.425 2.833 1.272.778.849 1.166 1.88 1.166 3.091V24h19.636c1.125 0 2.095.335 2.907 1.006l.184.16c.849.778 1.272 1.723 1.272 2.834v8c0 1.112-.425 2.057-1.272 2.834-.849.778-1.88 1.166-3.091 1.166H39.999v19.636c0 1.125-.335 2.094-1.006 2.906l-.16.185c-.778.848-1.722 1.272-2.833 1.272h-8.001c-1.111 0-2.056-.424-2.834-1.272-.778-.849-1.166-1.88-1.166-3.09V39.998H4.363c-1.125 0-2.094-.335-2.906-1.006l-.185-.16C.424 38.054 0 37.11 0 36v-8.001c0-1.111.424-2.056 1.272-2.834C2.121 24.387 3.152 24 4.363 24H24V4.363c0-1.125.335-2.094 1.006-2.906l.16-.185C25.944.423 26.889 0 28 0z' clip-rule='evenodd'/%3e%3c/svg%3e");
              transform: scale(.7) !important;
            }
            .accordion-button:not(.collapsed)::after {
              background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M36 0c1.111 0 2.056.425 2.833 1.272.778.849 1.166 1.88 1.166 3.091V24h19.636c1.125 0 2.095.335 2.907 1.006l.184.16c.849.778 1.272 1.723 1.272 2.834v8c0 1.112-.425 2.057-1.272 2.834-.849.778-1.88 1.166-3.091 1.166H39.999v19.636c0 1.125-.335 2.094-1.006 2.906l-.16.185c-.778.848-1.722 1.272-2.833 1.272h-8.001c-1.111 0-2.056-.424-2.834-1.272-.778-.849-1.166-1.88-1.166-3.09V39.998H4.363c-1.125 0-2.094-.335-2.906-1.006l-.185-.16C.424 38.054 0 37.11 0 36v-8.001c0-1.111.424-2.056 1.272-2.834C2.121 24.387 3.152 24 4.363 24H24V4.363c0-1.125.335-2.094 1.006-2.906l.16-.185C25.944.423 26.889 0 28 0z' clip-rule='evenodd'/%3e%3c/svg%3e");





              
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(33, 40, 50, 0.125);
  border-radius: 0.35rem;
}
.card > hr {
  margin-right: 0;
  margin-left: 0;
}
.card > .list-group {
  border-top: inherit;
  border-bottom: inherit;
}
.card > .list-group:first-child {
  border-top-width: 0;
  border-top-left-radius: 0.35rem;
  border-top-right-radius: 0.35rem;
}
.card > .list-group:last-child {
  border-bottom-width: 0;
  border-bottom-right-radius: 0.35rem;
  border-bottom-left-radius: 0.35rem;
}
.card > .card-header + .list-group,
.card > .list-group + .card-footer {
  border-top: 0;
}

.card-body {
  flex: 1 1 auto;
  padding: 1.35rem 1.35rem;
}

.card-title {
  margin-bottom: 0.5rem;
}

.card-subtitle {
  margin-top: -0.25rem;
  margin-bottom: 0;
}

.card-text:last-child {
  margin-bottom: 0;
}

.card-link:hover {
  text-decoration: none;
}
.card-link + .card-link {
  margin-left: 1.35rem;
}

.card-header {
  padding: 1rem 1.35rem;
  margin-bottom: 0;
  background-color: rgba(33, 40, 50, 0.03);
  border-bottom: 1px solid rgba(33, 40, 50, 0.125);
}
.card-header:first-child {
  border-radius: 0.35rem 0.35rem 0 0;
}

.card-footer {
  padding: 1rem 1.35rem;
  background-color: rgba(33, 40, 50, 0.03);
  border-top: 1px solid rgba(33, 40, 50, 0.125);
}
.card-footer:last-child {
  border-radius: 0 0 0.35rem 0.35rem;
}

.card-header-tabs {
  margin-right: -0.675rem;
  margin-bottom: -1rem;
  margin-left: -0.675rem;
  border-bottom: 0;
}
.card-header-tabs .nav-link.active {
  background-color: #fff;
  border-bottom-color: #fff;
}

.card-header-pills {
  margin-right: -0.675rem;
  margin-left: -0.675rem;
}

.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  border-radius: 0.35rem;
}

.card-img,
.card-img-top,
.card-img-bottom {
  width: 100%;
}

.card-img,
.card-img-top {
  border-top-left-radius: 0.35rem;
  border-top-right-radius: 0.35rem;
}

.card-img,
.card-img-bottom {
  border-bottom-right-radius: 0.35rem;
  border-bottom-left-radius: 0.35rem;
}

.card-group > .card {
  margin-bottom: 0.75rem;
}
@media (min-width: 576px) {
  .card-group {
    display: flex;
    flex-flow: row wrap;
  }
  .card-group > .card {
    flex: 1 0 0%;
    margin-bottom: 0;
  }
  .card-group > .card + .card {
    margin-left: 0;
    border-left: 0;
  }
  .card-group > .card:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .card-group > .card:not(:last-child) .card-img-top,
.card-group > .card:not(:last-child) .card-header {
    border-top-right-radius: 0;
  }
  .card-group > .card:not(:last-child) .card-img-bottom,
.card-group > .card:not(:last-child) .card-footer {
    border-bottom-right-radius: 0;
  }
  .card-group > .card:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .card-group > .card:not(:first-child) .card-img-top,
.card-group > .card:not(:first-child) .card-header {
    border-top-left-radius: 0;
  }
  .card-group > .card:not(:first-child) .card-img-bottom,
.card-group > .card:not(:first-child) .card-footer {
    border-bottom-left-radius: 0;
  }
}

.accordion-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem 1.25rem;
  font-size: 1rem;
  color: #FEE361;
  text-align: left;
  background-color: #fff;
  border: 0;
  border-radius: 0;
  overflow-anchor: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
}
@media (prefers-reduced-motion: reduce) {
  .accordion-button {
    transition: none;
  }
}
.accordion-button:not(.collapsed) {
  color: #0057da;
  background-color: #e6effe;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125);
}
.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230057da'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  transform: rotate(-180deg);
}
.accordion-button::after {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: auto;
  content: "";
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2369707a'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: 1.25rem;
  transition: transform 0.2s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .accordion-button::after {
    transition: none;
  }
}
.accordion-button:hover {
  z-index: 2;
}
.accordion-button:focus {
  z-index: 3;
  border-color: transparent;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(0, 97, 242, 0.25);
}

.accordion-header {
  margin-bottom: 0;
}

.accordion-item {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
.accordion-item:first-of-type {
  border-top-left-radius: 0.35rem;
  border-top-right-radius: 0.35rem;
}
.accordion-item:first-of-type .accordion-button {
  border-top-left-radius: calc(0.35rem - 1px);
  border-top-right-radius: calc(0.35rem - 1px);
}
.accordion-item:not(:first-of-type) {
  border-top: 0;
}
.accordion-item:last-of-type {
  border-bottom-right-radius: 0.35rem;
  border-bottom-left-radius: 0.35rem;
}
.accordion-item:last-of-type .accordion-button.collapsed {
  border-bottom-right-radius: calc(0.35rem - 1px);
  border-bottom-left-radius: calc(0.35rem - 1px);
}
.accordion-item:last-of-type .accordion-collapse {
  border-bottom-right-radius: 0.35rem;
  border-bottom-left-radius: 0.35rem;
}

.accordion-body {
  padding: 1rem 1.25rem;
}

.accordion-flush .accordion-collapse {
  border-width: 0;
}
.accordion-flush .accordion-item {
  border-right: 0;
  border-left: 0;
  border-radius: 0;
}
.accordion-flush .accordion-item:first-child {
  border-top: 0;
}
.accordion-flush .accordion-item:last-child {
  border-bottom: 0;
}
.accordion-flush .accordion-item .accordion-button {
  border-radius: 0;
}
.accordion-button::after {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
  transform: scale(.7) !important;
}
.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
}

.fitVids-wrapper {
position: relative;
padding-bottom: 56.25%; /* 16:9 */
height: 0;
}
.videoWrapper iframe {
position: absolute;
top: 0;
left: 0;
width: 100%; 
height: 100%;
}